.how-its-made-main-title {
font-weight: 600;
font-size: 20px;
line-height: 24px;
text-align: center;
letter-spacing: -0.03em;
text-transform: uppercase;
color: var(--black);
flex: none;
order: 0;
flex-grow: 0;
font-family: var();
}

.how-its-made-main-title span {
    color: var(--orange);
}