<div class="modal" data-modal="1">
  <div>

    <svg class="modal-close-btn js-modal-close" width="28" height="28">
      <use
        href="../img/section-top-sellers-images/Sprite.svg#icon-close-icon-converted"
      ></use>
    </svg>

    <h2 class="order-heading">BUY <span class="now">NOW</span></h2>

    <ul class="order-list">
      <li class="order-item">
        <picture>
          <source
            srcset="
              ../img/section-top-sellers-images/order-modal-tablet0desctop/order-milk-chocolate-@1x.png 1x,
              ../img/section-top-sellers-images/order-modal-tablet0desctop/order-milk-chocolate-@2x.png 2x
            "
            media="(max-width: 1199px)"
          />

          <source
            srcset="
              ../img/section-top-sellers-images/order-modal-tablet0desctop/order-milk-chocolate-@1x.png 1x,
              ../img/section-top-sellers-images/order-modal-tablet0desctop/order-milk-chocolate-@2x.png 2x
            "
            media="(min-width: 1200px)"
          />

          <img
            class="order-modal-picture"
            src="../img/section-top-sellers-images/order-modal-tablet0desctop/order-milk-chocolate-@1x.png"
            alt=""
          />
        </picture>

        <select name="weight" id="weight">
          <option value="100g">100 g</option>
          <option value="200g">200 g</option>
          <option value="300g">300 g</option>
        </select>
      </li>

      <li class="order-item">
        <picture>
          <source
            srcset="
              ../img/section-top-sellers-images/order-modal-tablet0desctop/order-milk-white-chocolate@1x.png 1x,
              ../img/section-top-sellers-images/order-modal-tablet0desctop/order-milk-white-chocolate@2x.png 2x
            "
            media="(max-width: 1199px)"
          />
          <source
            srcset="
              ../img/section-top-sellers-images/order-modal-tablet0desctop/order-milk-white-chocolate@1x.png 1x,
              ../img/section-top-sellers-images/order-modal-tablet0desctop/order-milk-white-chocolate@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <img
            class="order-modal-picture"
            src="../img/section-top-sellers-images/order-modal-tablet0desctop/order-milk-white-chocolate@1x.png"
            alt=""
          />
        </picture>

        <select name="weight" id="weight">
          <option value="100g">100 g</option>
          <option value="200g">200 g</option>
          <option value="300g">300 g</option>
        </select>
      </li>

      <li class="order-item">
        <picture>
          <source
            srcset="
              ../img/section-top-sellers-images/order-modal-tablet0desctop/order-bar-chocolate@1x.png 1x,
              ../img/section-top-sellers-images/order-modal-tablet0desctop/order-bar-chocolate@2x.png 2x
            "
            media="(max-width: 1199px)"
          />

          <source
            srcset="
              ../img/section-top-sellers-images/order-modal-tablet0desctop/order-bar-chocolate@1x.png 1x,
              ../img/section-top-sellers-images/order-modal-tablet0desctop/order-bar-chocolate@2x.png 2x
            "
            media="(min-width: 1200px)"
          />

          <img
            class="order-modal-picture"
            src="../img/section-top-sellers-images/order-modal-tablet0desctop/order-bar-chocolate@1x.png"
            alt=""
          />
        </picture>

        <select name="weight" id="weight">
          <option value="100g">100 g</option>
          <option value="200g">200 g</option>
          <option value="300g">300 g</option>
        </select>
      </li>

    </ul>
  </div>

<!-- MODAL FORM-->

  <form class="form">
    <div class="form-field-personal">
      <label class="first-name-label" for="first-name">Personal information</label>
      <input class="first-name-input"
        type="text"
        id="first-name"
        name="first-name"
        required
        pattern="[A-Za-zА-Яа-ІіЇїЄє]{1,30}"
        placeholder="Name"
      />
      <input class="last-name-input"
        type="text"
        id="last-name"
        name="last-name"
        required
        pattern="[A-Za-zА-Яа-ІіЇїЄє]{1,30}"
        placeholder="Surname"
      />
    </div>

    <div class="form-field-modal">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        name="email"
        placeholder="Enter your email"
        required
      />
    </div>

    <div class="form-field-modal">
      <label for="phone">Phone number</label>
      <div>
          <span class="country-code">
           <svg class="flag" width="32" height="24">
            <use href="../img/svg/icons.svg#icon-ukraine"></use>
           </svg>+380
          </span>
        <input class="phone" type="phone" id="phone" name="phone" placeholder="Phone number" required/>
      </div>
    </div>

    <div class="form-field-modal">
      <label for="card">Card number</label>
      <input
        type="text"
        id="card"
        name="card"
        placeholder="Enter card"
        required
      />
    </div>

    <div class="form-field-modal">
      <label for="comments">Comment</label>
      <textarea
        id="comments"
        name="comments"
        placeholder="Enter text"
        required
      ></textarea>
    </div>

    <button class="modal-submit-btn js-modal-close" data-modal="1" type="submit">Submit</button>
  </form>
</div>

<div class="overlay js-overlay-modal"></div>
