<section class="hero-section">
	<div class="container">
		<div class="section-position">
			<div class="hero">
				<h1 class="hero-title">SIMPLY CHOCOLATE</h1>
				<p class="hero-desc"> Treat yourself or a loved one to our finest ingredients for a moment of pure delight! </p>
			</div>

			<div class="position">
				<div class="order-button">
					<button type="button" class="buy-now-button js-open-modal" data-modal="1"> Buy now </button>
					<a href="#how-its-made" class="how-made-button">How it's made</a>
				</div>

				<div class="scroll-wrapper">
					<a class="scroll-link" href="#footer">
						<span class="scroll-title">scroll down</span>
						<span type="button" class="scroll-button">
							<svg class="check-mark-svg" width="16" height="16">
								<use href="./img/svg/icons.svg#icon-check-mark"></use>
							</svg>
						</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
