<section class="container">
  <div>
    <h2 class="how-its-made-main-title" id="how-its-made">
      How it's <span>made?</span>
    </h2>
  </div>
  <div class="how-its-made-content">
    <div data-modal-open-how-its-made class="how-its-made-video">
      <svg class="video-play">
        <use href="./img/svg/icons.svg#icon-play"></use>
      </svg>
      <iframe data-modal-how-its-made
        src="https://www.youtube.com/embed/EGdpjldRTWQ"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
        class="is-hidden-how-its-made"
      ></iframe>
    </div>
    <div class="how-its-made-udervideo-content">
      <h3 class="how-its-made-udervideo-title">
        Try our chocolates today and discover the perfect balance of flavor
      </h3>
      <ul class="how-its-made-udervideo-descr">
        <li>
          Heat the milk in a saucepan without bringing it to a boil. Add sugar
          and cocoa powder.
        </li>
        <li>At the same time, prepare a water bath. Melt the butter on it.</li>
        <li>
          "Mix" the milk mixture and already liquid butter. Mix thoroughly with
          a silicone spatula so that the mass becomes uniform and silky.
        </li>
        <li>Heat the mixture over low heat, letting it barely boil.</li>
        <li>
          Pour the chocolate into special containers (can be replaced with ice
          molds). Allow to cool and harden.
        </li>
      </ul>
    </div>
  </div>
</section>
