<button class="review-btn-open" data-modal-open type="button">x</button>
<div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <button class="button-close-review" data-modal-close type="button">
            <svg class="modal-review-svg" width="14px" height="14px">
                <use href="../img/svg/icons.svg#icon-close-icon-converted"></use>
            </svg>
        </button>
        <h2 class="text">
            LEAVE A REVIEW ABOUT <span class="second-part-text">OUR CHOCOLATE</span>
        </h2>
        <form>
            <label for="name" class="label-name"></label>
        </form>
        </div>
</div>