<body>
    <div class="backdrop-explore is-hidden">
        <div class="modal-explore">
            <div class="position-explore">
            <h3 class="modal-explore-title">Explore our
                <span class="new-chocolate">new chocolate</span>first!</h3>

                <form class="form-explore">
                    <div class="explore-modal-group">
                    <input class="explore-input" type="text" placeholder="Enter your email">
                    <button class="modal-explore-type" type="submit">Submit</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</body>