<div class="backdrop is-hidden" data-backdrop>
	<div class="modal-explore">
		<div class="modal-icon">
			<button data-explore-close class="js-modal-close-svg" type="button">
				<svg class="explore-svg" width="28" height="28">
					<use href="../img/svg/icons.svg#icon-close-modalka"></use>
				</svg>
			</button>
		</div>
		<div class="position-explore">
			<h3 class="modal-explore-title">Explore our<br /><span class="new-chocolate">new chocolate</span>first!</h3>

			<form class="form-explore">
				<div class="explore-modal-group">
					<input class="explore-input" type="text" placeholder="Enter your email" />
					<button data-explore-close class="modal-explore-type" type="submit">Submit</buttonclass=>
				</div>
			</form>
		</div>
	</div>
</div>
