<section class="review">
<div class="container">
  <h2 class="reviews-title"><span>chocolate</span> is loved</h2>

  <div class="swiper">
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <div class="swiper-item">
          <img
            class="coment-img"
            srcset="
              ./img/img-reviews/commentator-1.png    1x,
              ./img/img-reviews/commentator-1-2x.png 2x
            "
            src="./img/img-reviews/commentator-1.png"
            alt="photo commentator"
            width="80px"
          />

          <h3 class="person-name">Victoria Dobrzhanska</h3>
          <p class="reviews-description">
            I love this chocolate bar. Perfect combination of light crispy
            wafer, covered in a thin layer chocolate.
          </p>
        </div>
        <div class="swiper-item">
          <img
            class="coment-img"
            srcset="
              ./img/img-reviews/commentator-2.png    1x,
              ./img/img-reviews/commentator-2-2x.png 2x
            "
            src="./img/img-reviews/commentator-2.png"
            alt="photo commentator"
            width="80px"
          />

          <h3 class="person-name">Nazar Babenko</h3>
          <p class="reviews-description">
            This chocolate confection is a delight! A delight! The wafer is
            light and crisp, the hazelnut cream is smooth, and the chocolate is
            good.
          </p>
        </div>
        <div class="swiper-item">
          <img
            class="coment-img"
            srcset="
              ./img/img-reviews/commentator-3.png    1x,
              ./img/img-reviews/commentator-3-2x.png 2x
            "
            src="./img/img-reviews/commentator-3.png"
            alt="photo commentator"
            width="80px"
          />

          <h3 class="person-name">Olena Kampusch</h3>
          <p class="reviews-description">
            Chocolate is a family favourite treat. Love the delicious smooth
            chocolate and the creaminess inside. The wafer is soft but crunchy.
          </p>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="swiper-item">
          <img
            class="coment-img"
            srcset="
              ./img/img-reviews/commentator-2.png    1x,
              ./img/img-reviews/commentator-2-2x.png 2x
            "
            src="./img/img-reviews/commentator-2.png"
            alt="photo commentator"
            width="80px"
          />

          <h3 class="person-name">Nazar Babenko</h3>
          <p class="reviews-description">
            This chocolate confection is a delight! A delight! The wafer is
            light and crisp, the hazelnut cream is smooth, and the chocolate is
            good.
          </p>
        </div>

        <div class="swiper-item">
          <img
            class="coment-img"
            srcset="
              ./img/img-reviews/commentator-3.png    1x,
              ./img/img-reviews/commentator-3-2x.png 2x
            "
            src="./img/img-reviews/commentator-3.png"
            alt="photo commentator"
            width="80px"
          />

          <h3 class="person-name">Olena Kampusch</h3>
          <p class="reviews-description">
            Chocolate is a family favourite treat. Love the delicious smooth
            chocolate and the creaminess inside. The wafer is soft but crunchy.
          </p>
        </div>

        <div class="swiper-item">
          <img
            class="coment-img"
            srcset="
              ./img/img-reviews/commentator-4.png    1x,
              ./img/img-reviews/commentator-4-2x.png 2x
            "
            src="./img/img-reviews/commentator-4.png"
            alt="photo commentator"
            width="80px"
          />

          <h3 class="person-name">Natalia Sus</h3>
          <p class="reviews-description">
            The chocolate assortment was delicious. Both dark and milk chocolate
            pieces were smooth and just right on the sweetness level.
          </p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-item">
          <img
            class="coment-img"
            srcset="
              ./img/img-reviews/commentator-3.png    1x,
              ./img/img-reviews/commentator-3-2x.png 2x
            "
            src="./img/img-reviews/commentator-3.png"
            alt="photo commentator"
            width="80px"
          />

          <h3 class="person-name">Olena Kampusch</h3>
          <p class="reviews-description">
            Chocolate is a family favourite treat. Love the delicious smooth
            chocolate and the creaminess inside. The wafer is soft but crunchy.
          </p>
        </div>

        <div class="swiper-item">
          <img
            class="coment-img"
            srcset="
              ./img/img-reviews/commentator-4.png    1x,
              ./img/img-reviews/commentator-4-2x.png 2x
            "
            src="./img/img-reviews/commentator-4.png"
            alt="photo commentator"
            width="80px"
          />

          <h3 class="person-name">Natalia Sus</h3>
          <p class="reviews-description">
            The chocolate assortment was delicious. Both dark and milk chocolate
            pieces were smooth and just right on the sweetness level.
          </p>
        </div>
        <div class="swiper-item">
          <img
            class="coment-img"
            srcset="
              ./img/img-reviews/commentator-5.png    1x,
              ./img/img-reviews/commentator-5-2x.png 2x
            "
            src="./img/img-reviews/commentator-5.png"
            alt="photo commentator"
            width="80px"
          />

          <h3 class="person-name">Danilo Nottingham</h3>
          <p class="reviews-description">
            This is delicious. It so rich and flavorful you don’t need to use as
            many. I love topping an apple with almond butter and these chips for
            a snack.
          </p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-item">
          <img
            class="coment-img"
            srcset="
              ./img/img-reviews/commentator-4.png    1x,
              ./img/img-reviews/commentator-4-2x.png 2x
            "
            src="./img/img-reviews/commentator-4.png"
            alt="photo commentator"
            width="80px"
          />

          <h3 class="person-name">Natalia Sus</h3>
          <p class="reviews-description">
            The chocolate assortment was delicious. Both dark and milk chocolate
            pieces were smooth and just right on the sweetness level.
          </p>
        </div>
        <div class="swiper-item">
          <img
            class="coment-img"
            srcset="
              ./img/img-reviews/commentator-5.png    1x,
              ./img/img-reviews/commentator-5-2x.png 2x
            "
            src="./img/img-reviews/commentator-5.png"
            alt="photo commentator"
            width="80px"
          />

          <h3 class="person-name">Danilo Nottingham</h3>
          <p class="reviews-description">
            This is delicious. It so rich and flavorful you don’t need to use as
            many. I love topping an apple with almond butter and these chips for
            a snack.
          </p>
        </div>
        <div class="swiper-item">
          <img
            class="coment-img"
            srcset="
              ./img/img-reviews/commentator-6.png    1x,
              ./img/img-reviews/commentator-6-2x.png 2x
            "
            src="./img/img-reviews/commentator-6.png"
            alt="photo commentator"
            width="80px"
          />

          <h3 class="person-name">Irina Tydnyuk</h3>
          <p class="reviews-description">
            This is simply the best chocolate around, and I'm just thrilled to
            support a local company! Best local chocolate - world class :)
          </p>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
  <button class="review-btn js-open-modal" type="button" data-modal="4">Leave a review</button>

</div>
</section>
