І<!-- ---------reviews------------ -->
<div class="container">
  <h2 class="reviews-title"><span>chocolate</span> is loved</h2>

  <section class="review-section">
    <ul class="review-list">
      <!-- Slides -->

      <li class="review-item">
        <img
          class="coment-img"
          srcset="
            ../img/img-reviews/commentator-1.png    1x,
            ../img/img-reviews/commentator-1-2x.png 2x
          "
          src="../img/img-reviews/commentator-1.png"
          alt="photo commentator"
          width="80px"
        />

        <h3 class="person-name">Victoria Dobrzhanska</h3>
        <p class="reviews-description">
          I love this chocolate bar. Perfect combination of light crispy wafer,
          covered in a thin layer chocolate.
        </p>
      </li>
      <li class="review-item coment">
        <img
          class="coment-img"
          srcset="
            ../img/img-reviews/commentator-2.png    1x,
            ../img/img-reviews/commentator-2-2x.png 2x
          "
          src="../img/img-reviews/commentator-2.png"
          alt="photo commentator"
          width="80px"
        />

        <h3 class="person-name">Nazar Babenko</h3>
        <p class="reviews-description">
          This chocolate confection is a delight! A delight! The wafer is light
          and crisp, the hazelnut cream is smooth, and the chocolate is good.
        </p>
      </li>
      <li class="review-item coment coment-secondary">
        <img
          class="coment-img"
          srcset="
            ../img/img-reviews/commentator-3.png    1x,
            ../img/img-reviews/commentator-3-2x.png 2x
          "
          src="../img/img-reviews/commentator-3.png"
          alt="photo commentator"
          width="80px"
        />

        <h3 class="person-name">Olena Kampusch</h3>
        <p class="reviews-description">
          Chocolate is a family favourite treat. Love the delicious smooth
          chocolate and the creaminess inside. The wafer is soft but crunchy.
        </p>
      </li>
    </ul>
  </section>

  <!-- If we need pagination -->

  <!-- If we need navigation buttons -->
  <!-- <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
  </div> -->

  <button class="review-btn" type="button">Leave a review</button>
</div>
<footer>
  <!-- тут лоад footer -->
</footer>
<!-- <script type="module" src="/main.js"></script> -->
