<section class="review-section" id="chocolate-is-loved">
	<div class="container">
		<h2 class="reviews-title"><span>chocolate</span> is loved</h2>
		<ul class="review-list">
			<!-- Slides -->

			<li class="review-item">
				<img
					class="coment-img"
					srcset="./img/img-reviews/commentator-1.png 1x, ./img/img-reviews/commentator-1-2x.png 2x"
					src="./img/img-reviews/commentator-1.png"
					alt="photo commentator"
					width="80px"
				/>

				<h3 class="person-name">Victoria Dobrzhanska</h3>
				<p class="reviews-description">
					I love this chocolate bar. Perfect combination of light crispy wafer, covered in a thin layer chocolate.
				</p>
			</li>
			<li class="review-item coment">
				<img
					class="coment-img"
					srcset="./img/img-reviews/commentator-2.png 1x, ./img/img-reviews/commentator-2-2x.png 2x"
					src="./img/img-reviews/commentator-2.png"
					alt="photo commentator"
					width="80px"
				/>

				<h3 class="person-name">Nazar Babenko</h3>
				<p class="reviews-description">
					This chocolate confection is a delight! A delight! The wafer is light and crisp, the hazelnut cream is smooth,
					and the chocolate is good.
				</p>
			</li>
			<li class="review-item coment coment-secondary">
				<img
					class="coment-img"
					srcset="./img/img-reviews/commentator-3.png 1x, ./img/img-reviews/commentator-3-2x.png 2x"
					src="./img/img-reviews/commentator-3.png"
					alt="photo commentator"
					width="80px"
				/>

				<h3 class="person-name">Olena Kampusch</h3>
				<p class="reviews-description">
					Chocolate is a family favourite treat. Love the delicious smooth chocolate and the creaminess inside. The
					wafer is soft but crunchy.
				</p>
			</li>
		</ul>
		<button class="review-btn js-open-modal" data-modal="4" type="button">Leave a review</button>
	</div>
</section>
<!-- Modalka Review!!! -->
<div class="modal modal-review" data-modal="4">
	<button class="button-close-review js-modal-close" type="button">
		<svg class="modal-review-svg" width="14px" height="14px">
			<use href="./img/svg/icons.svg#icon-close-modalka"></use>
		</svg>
	</button>
	<div class="container-review">
		<h2 class="text-modal-review">
			LEAVE A REVIEW <br />
			ABOUT
			<span class="second-part-text">OUR CHOCOLATE</span>
		</h2>
		<form class="review-form">
			<label class="review-label"
				><input type="text" name="name" class="input-review" placeholder="Name" required
			/></label>

			<label class="review-label"
				><input type="email" name="email" class="input-review" placeholder="Email" required
			/></label>
			<label class="review-label">
				<span class="review-tel">
					<input type="tel" name="tel" class="input-review tel" placeholder="Phone number" required />
					<span class="icons-review">
						<svg class="review-ukraine">
							<use href="./img/svg/icons.svg#icon-ukraine"></use>
						</svg>
						<span class="phone-start">+380</span>
					</span>
				</span>
			</label>
			<label class="review-label-textarea">
				<textarea name="text" id="text" placeholder="Enter text" class="input-review-textarea"></textarea>
			</label>
			<button type="submit" class="submit-form-review">Send</button>
		</form>
	</div>
	<!-- </div> -->
</div>
<div class="modal modal-review" data-modal="4">
	<button class="button-close-review js-modal-close" type="button">
		<svg class="modal-review-svg" width="14px" height="14px">
			<use href="../img/svg/icons.svg#icon-close-modalka"></use>
		</svg>
	</button>
	<div class="container-review">
		<h2 class="text-modal-review">
			LEAVE A REVIEW <br />
			ABOUT
			<span class="second-part-text">OUR CHOCOLATE</span>
		</h2>
		<form class="review-form">
			<label class="review-label"
				><input type="text" name="name" class="input-review" placeholder="Name" required
			/></label>

			<label class="review-label"
				><input type="email" name="email" class="input-review" placeholder="Email" required
			/></label>
			<label class="review-label">
				<span class="review-tel">
					<input type="tel" name="tel" class="input-review tel" placeholder="Phone number" required />
					<span class="icons-review">
						<svg class="review-ukraine">
							<use href="../img/svg/icons.svg#icon-ukraine"></use>
						</svg>
						<span class="phone-start">+380</span>
					</span>
				</span>
			</label>
			<label class="review-label-textarea">
				<textarea name="text" id="text" placeholder="Enter text" class="input-review-textarea"></textarea>
			</label>
			<button type="submit" class="submit-form-review">Send</button>
		</form>
	</div>
	<!-- </div> -->
</div>
