
.modal-review {
  position: relative;
  width: 311px;
  height: 350px;
  padding: 0 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
  background: #FAFAFA;
  border-radius: 15px;
  background-repeat: no-repeat;
}

.container-review {
  padding: 32px 24px;
}

.button-close-review {
  position: absolute;
  top: 14px;
  right: 14px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black);
  background-color: transparent;
  border: none;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-review-svg {
  display: block;
  width: 24px;
  height: 24px;
  fill: currentColor;
}

.button-close-review:hover,
.button-close-review:focus {
  background-color: #fcf1e0;
  color: rgba(241, 101, 41, 1);
  
}

.text-modal-review {
  font-weight: 500;
  font-size: 20px;
line-height: 24px;
  margin-bottom: 32px;
}

.second-part-text {
  color: var(--orange);
}


.input-review {
 
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 22px 24px;
  margin-bottom: 19px;
  gap: 40px;
  width: 100%;
  height: 45px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 8px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-review:focus, .input-review-textarea:focus {
  outline: none;
  border: 1px solid var(--orange);
}

.input-review::placeholder,
.input-review-textarea::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17;
 
  
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;

  color: rgba(64, 64, 64, 0.3);
}


.review-tel {
  position: relative;
}

.icons-review {
  
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  width: 74px;
  height: 25px;

  background-color: transparent;
  border-right: 2.72246px solid  rgba(64, 64, 64, 0.1);

  position: absolute;
  top: 10px;
  left: 18px;
}
.review-ukraine {
  width: 24px;
  height: 24px;
}

.tel {
  padding-left: 106px;
}



.phone-start {
  font-weight: 500;


  display: flex;
  align-items: center;
  letter-spacing: -0.02em;

  color: #000000;

  
} 


.input-review-textarea {
  padding-top: 14px;
  padding-left: 18px;
  padding-right: 18px;
  resize: none;
  width: 100%;
  height: 91px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 18px;
}


.submit-form-review {
  display: flex;

  padding: 14px 40px;
  width: 117px;
  height: 45px;
  background-color: var(--orange);
  border-radius: 100px;
  border: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-form-review:hover, .submit-form-review:focus {
  background-color: #FCF1E0;
  color: var(--orange);
}





/* tablet and desktop */

@media screen and (min-width: 767px) {



.modal {
  opacity: 0;
  visibility: hidden;
  width: 517px;
  min-width: none;
  max-width: none;
  min-height: 631px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30; 
  background: #FAFAFA;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  transition: 0.3s all;
}

.container-review {
  padding: 40px;
}






.button-close-review {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black);
  background-color: transparent;
  border: none;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}






.text-modal-review {
  
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.03em;
  text-transform: uppercase;

  margin-bottom: 40px;
}



.input-review {
 
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 22px 24px;
  margin-bottom: 19px;
  gap: 40px;
  width: 100%;
  height: 66px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-review::placeholder,
.input-review-textarea::placeholder {
  font-size: 18px;
  line-height: 22px;
 
}


/* тут */


.input-review-textarea {
  padding-top: 22px;
  padding-left: 24px;
  padding-right: 24px;
resize: none;
  width: 100%;
  height: 137px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.review-tel {
  position: relative;
}

.icons-review {
  
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 18px;

  width: 113px;
  height: 32px;

  background-color: transparent;
  border-right: 2.72246px solid  rgba(64, 64, 64, 0.1);

  position: absolute;
  top: 17px;
  left: 24px;
}
.review-ukraine {
  width: 32px;
  height: 32px;
}

.tel {
  padding-left: 177px;
}



.phone-start {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;

  display: flex;
  align-items: center;
  letter-spacing: -0.02em;

  color: #000000;

  
} 


.submit-form-review {
  display: flex;

  padding: 14px 40px;
  width: 117px;
  height: 45px;
  background-color: var(--orange);
  border-radius: 100px;
  border: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-form-review:hover, .submit-form-review:focus {
  background-color: #FCF1E0;
  color: var(--orange);
}


}

