.backdrop-explore {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #0e0d0d;
}
/* .is-hidden {
    pointer-events: painted;
    visibility: hidden;
    opacity: 0;
} */
body{
    font-family: 'Montserrat', sans-serif;
}

.modal-explore {
    position: relative;
    width: 538px;
    height: 412px;
    padding: 0 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    background: #FAFAFA;
    border-radius: 15px;
    background-image: url(../img/modal-explore/choco-modal-1x.jpg);
    background-repeat: no-repeat;
   
}

@media (min-device-pixel-ratio:2), (min-resolution: 102dpi), (min-resolution: 2dppx) {
    .hero-section{
        background-image: url(..//img/modal-explore/choco-modal-2x.jpg);
    }
}

.position-explore{
    position: absolute;
    bottom: 0;
    left: 40px;
    right: 40px;
}

.modal-icon{
    position: absolute;
    top: 24px;
    right: 24px;
    border:1 solid #FAFAFA;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: fill 250ms  cubic-bezier(0.4, 0, 0.2, 1);
}

.explore-svg{
    fill: #ffffff;
}

.explore-svg:is(:hover, :focus) {
    fill: #FD9222;
}
.modal-explore-title {
    max-width: 298px;
    margin-top: 40px;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.1;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #111111;
}

.new-chocolate{
    padding-right: 4px;
    color: rgba(253, 146, 34, 1);
}

.explore-modal-group {
    display: flex;
    margin-top: 28px;
    margin-bottom: 40px;
}
.explore-input {
    width: 100%;
    height: 52px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    border-radius: 30px;
    padding-left: 24px;
    margin-right: 8px;
    transition: border 250ms  cubic-bezier(0.4, 0, 0.2, 1);
}

.explore-input:hover, .explore-input:focus {
    border: 1.5px solid rgba(253, 146, 34, 1);
}

.modal-explore-type {
    color: #ffffff;
    background-color: #FD9222;
    border-radius: 100px;
    padding: 17px 40px;
    border: 0;
    right: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-explore-type:is(:hover, :focus) {
    background-color: #FCF1E0;
    color: rgba(253, 146, 34, 1);
}


@media screen and (min-width: 375px) and (max-width: 767px) {
    .modal-explore {
        position: relative;
        width: 311px;
        height: 350px;
        padding: 0 24px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 1;
        background: #FAFAFA;
        border-radius: 15px;
        background-image: url(../img/modal-explore/choco-mob-1x.jpg);
        background-repeat: no-repeat;
    }

    @media (min-device-pixel-ratio:2), (min-resolution: 102dpi), (min-resolution: 2dppx) {
        .hero-section{
            background-image: url(..//img/modal-explore/choco-mob-2x.jpg);
        }
    }

    .position-explore{
        position: absolute;
        bottom: 0;
        left: 24px;
        right: 24px;
    }

    .modal-icon{
        position: absolute;
        top: 15px;
        right: 15px;
        border:1 solid #FAFAFA;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        transition: fill 250ms  cubic-bezier(0.4, 0, 0.2, 1);
    }

    .modal-explore-title {
        max-width: 263px;
        margin-top: 30px;
        font-weight: 600;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        color: #111111;
    }

    .explore-modal-group {
        display: flex;
        margin-top: 28px;
        margin-bottom: 30px;
    }
    .explore-input {
        width: 100%;
        height: 45px;
        border: 1.5px solid rgba(17, 17, 17, 0.05);
        border-radius: 30px;
        padding-left: 18px;
        margin-right: 0;
        transition: border 250ms  cubic-bezier(0.4, 0, 0.2, 1);
    }
}