/* ----------------------MOBILE-VERSION---------------------- */
.our-producs {
    padding: 72px 0 105px 0;
    position: relative;
}

.container {}

.our-products-title {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: var(--black);
    margin-bottom: 32px;
    text-align: center;
}

.our-products-title-color {
    color: var(--orange);
}

.our-products-list {
    display: flex;
}

.our-products-link {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    width: 335px;
    background: #FFFFFF;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
    padding: 32px 52px;
    text-align: center;

}


.our-products-img {
    margin-bottom: 8px;
    max-width: none;
}

.our-products-name {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--black);
    margin-bottom: 2px;
}

.our-products-text {
    margin-bottom: 18px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: -0.02em;
    color: rgba(17, 17, 17, 0.7);
}

.our-products-price {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    color: var(--black);
    background: #FAFAFA;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 100px;
    padding: 8px 20px;
    width: 97px;
    margin-right: auto;
    margin-left: auto;
}

/* swiper */

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    left: 50%;
}

.swiper-pagination {
    display: flex;
    justify-content: center;
    gap: 13px;
}

.swiper-pagination-bullets .swiper-pagination-bullet-active {
    width: 28px;
    height: 13px;
    transform: scale(1.5);
    border-radius: 10px;
    /* transition: 250ms cubic-bezier(0.4, 0, 0.2, 1); */
    top: 93%;
    background-color: var(--orange);
}

.our-products-list>.swiper-pagination>.swiper-pagination-bullet {
    width: 13px;
    height: 13px;
    background: rgba(17, 17, 17, 0.35);
}

.our-products-list>.swiper-pagination>.swiper-pagination-bullet-active {
    width: 28px;
    height: 13px;
    transition: 250ms cubic-bezier(.33, .76, .55, 1.37);
    background-color: var(--orange)
}

.swiper-pagination-bullets {
    --swiper-pagination-top: 88%;
}

/* ----------------------/MOBILE-VERSION---------------------- */

.swiper-scrollbar {
    height: 4px;
    position: relative;
    -ms-touch-action: none;
    background: rgba(0, 0, 0, 0.1);
}

.swiper-scrollbar-drag {
    height: 100%;
    position: absolute;
    z-index: 1;
    -ms-touch-action: none;
    background: #000;
}

.swiper-scrollbar-cursor-drag {
    cursor: move;
}


.swiper-slide {
    width: calc((100% - 45px) / 2.5);
}

@media (min-width: 768px) {
    .swiper-slide {

        width: calc((100% - 75px) / 2.5);
    }
}




/* ----------------------TABLET-VERSION---------------------- */
@media screen and(min-width:768px) {
    .swiper-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .swiper-slide {
        width: calc(33.33% - 10px);
    }

    .our-producs {}

    .container {}

    .our-products-title {}

    .our-products-title-color {}

    .our-products-list {}

    .swiper {}

    .swiper-wrapper {}

    .our-products-link {}

    .swiper-slide {}

    .our-products-img {}

    .our-products-name {}

    .our-products-text {}

    .our-products-price {}

    .swiper-pagination {}
}

/* ----------------------/TABLET-VERSION---------------------- */