.slider-wrap {
  display: flex;
  gap: 24px;
}
.reviews-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 49px;

  color: #111111;
}
.reviews-title > span {
  color: #fd9222;
}
.swaper-slider {
  position: relative;
  width: 360px;
  background: #ffffff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  box-shadow: 0px 9.04932px 26.5717px rgba(215, 228, 249, 0.25);
  border-radius: 15px;
}

.coment-img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.person-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  margin-bottom: 24px;
  padding-top: 56px;

  color: #111111;
}
.reviews-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
  letter-spacing: -0.02em;
  width: 312px;

  color: rgba(17, 17, 17, 0.7);
}

.review-btn {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 14px 40px;
  gap: 14px;
  margin: auto;
  margin-top: 50px;
  width: 222px;
  height: 50px;
  border: 1px solid #fd9222;
  border-radius: 100px;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  color: #111111;
  background-color: transparent;
}

.review-btn:hover,
.review-btn:focus {
  color: #ffffff;
  background: #fd9222;
}

.slider-wrap {
}

.swiper-wrapper {
  display: flex;
  gap: 28px;
  width: 100%;
  margin-bottom: 31px;
}

.swiper-list {
  display: flex;
  gap: 24px;
}

.swiper-item {
  position: relative;
}

.swiper-slide {
  width: 360px;
  height: 200px;
  background: #ffffff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  box-shadow: 0px 9.04932px 26.5717px rgba(215, 228, 249, 0.25);
  border-radius: 15px;
}

.swiper-pagination {
  position: relative;

  margin: 0 auto;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  background: rgba(17, 17, 17, 0.1);
}

.swiper-pagination:active {
  width: 28px;
  height: 13px;
  border-radius: 8px;

  background: #fd9222;
}

.swiper {
  padding-top: 42px;
}

@media screen and (min-wdith: 320px), (max-width: 479px) {
  .swiper-slide {
    width: 278px;
  }

  .reviews-description {
    width: 278px;
    font-size: 12px;
  }

  .reviews-title {
    font-size: 20px;
    line-height: 1.2;
  }
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 375px;
  }

  .swiper-slide {
    width: 335px;
  }

  .reviews-title {
    font-size: 20px;
    line-height: 1.2;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .swiper-list {
    gap: 16px;
  }

  .swiper-slide {
    width: 344px;
  }

  .reviews-title {
    font-size: 24px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }

  .swiper-list {
    gap: 24px;
  }

  .swiper-slide {
    width: 360px;
  }
}

.swiper-section {
  display: flex;
}
