.review-section {
  padding-bottom: 128px;
}
.reviews-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 91px;

  color: var(--black);
}
.reviews-title > span {
  color: var(--orange);
}
/* .swaper-slider {
  width: 360px;
  background: #ffffff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  box-shadow: 0px 9.04932px 26.5717px rgba(215, 228, 249, 0.25);
  border-radius: 15px;
} */

.coment-img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.person-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  margin-bottom: 24px;
  padding-top: 56px;

  color: var(--black);
}
.reviews-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
  letter-spacing: -0.02em;
  width: 312px;

  color: rgba(17, 17, 17, 0.7);
}

.review-btn {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 14px 40px;
  gap: 14px;
  margin: auto;
  margin-top: 50px;
  width: 222px;
  height: 50px;
  border: 1px solid #fd9222;
  border-radius: 100px;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  color: #111111;
  background-color: transparent;
}

.review-btn:hover,
.review-btn:focus {
  color: #ffffff;
  background: var(--orange);
}

.review-item {
  position: relative;
  width: 360px;
  height: 200px;
  background: #ffffff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  box-shadow: 0px 9.04932px 26.5717px rgba(215, 228, 249, 0.25);
  border-radius: 15px;
}
.review-list {
  display: flex;
  gap: 28px;
}
/* .swiper-pagination {
  top: 231px;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);

  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: rgba(17, 17, 17, 0.1);
}

.swiper-pagination:active {
  border-radius: 8px;

  background: var(--orange);
} */

.swiper-list {
  display: flex;
}

.swiper-section {
  width: 1136px;
  height: 242px;
  padding-top: 42px;
}

@media screen and (min-wdith: 320px), (max-width: 479px) {
  .review-section {
    width: 285px;
  }

  .reviews-description {
    width: 278px;
    font-size: 12px;
  }

  .reviews-title {
    font-size: 20px;
    line-height: 1.2;
  }

  .coment {
    display: none;
  }
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 375px;
  }

  .swiper-section {
    width: 315px;
  }

  .reviews-title {
    font-size: 20px;
    line-height: 1.2;
  }

  .coment {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .swiper-section {
    width: 660px;
  }

  .review-item {
    width: 344px;
  }

  .reviews-title {
    font-size: 24px;
    line-height: 1.17;
  }

  .coment {
    display: block;
  }

  .coment-secondary {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }

  .swiper-section {
    width: 1138px;
  }

  .coment-secondary {
    display: block;
  }

  .review-item {
    width: 360px;
  }
}

/* .swiper .swiper-pagination {
  bottom: 0;
  display: flex;
  justify-content: center;
  gap: 13px;
  left: 50%;
  transform: translateX(-50%);
  background: transparent;
}
.swiper .swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  background-color: rgba(17, 17, 17, 0.3);
}

.swiper .swiper-pagination-bullet-active {
  width: 28px;
  border-radius: 25px;
  background-color: orange;
  transition: 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
} */
